# Read CSV

In [1]:
import pandas as pd

csv_1 = pd.read_csv("D:\\Python learning sequence\\python for ML\\Pandas\\people-100.csv")
csv_1

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon
...,...,...,...,...,...,...,...,...,...
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,1954-07-30,Software engineer
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,1932-04-29,Barrister
97,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,1994-12-28,Police officer
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,2012-04-12,Broadcast journalist
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,2016-11-15,IT sales professional

In [7]:

csv_2 = pd.read_csv("D:\\Python learning sequence\\python for ML\\Pandas\\people-100.csv",nrows=3)
print(csv_2)
print(type(csv_2))

   Index          User Id First Name Last Name     Sex                  Email  \
0      1  88F7B33d2bcf9f5     Shelby   Terrell    Male   elijah57@example.net
1      2  f90cD3E76f1A9b9    Phillip   Summers  Female  bethany14@example.com
2      3  DbeAb8CcdfeFC2c   Kristine    Travis    Male  bthompson@example.com

                    Phone Date of birth        Job Title
0  001-084-906-7849x73518    1945-10-26  Games developer
1       214.112.6044x4913    1910-03-24   Phytotherapist
2            277.609.7938    1992-07-02        Homeopath
<class 'pandas.core.frame.DataFrame'>

In [9]:

csv_2 = pd.read_csv("D:\\Python learning sequence\\python for ML\\Pandas\\people-100.csv",usecols=["First Name","Email"])
print(csv_2)                                                                                        # we can also pass col index here                          
print(type(csv_2))

   First Name                       Email
0      Shelby        elijah57@example.net
1     Phillip       bethany14@example.com
2    Kristine       bthompson@example.com
3     Yesenia   kaitlinkaiser@example.com
4        Lori  buchananmanuel@example.net
..        ...                         ...
95     Dennis         bmartin@example.org
96      Steve       latasha46@example.net
97     Wesley        regina11@example.org
98     Summer  alexiscantrell@example.org
99     Mariah       pcopeland@example.org

[100 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>

In [13]:

csv_2 = pd.read_csv("D:\\Python learning sequence\\python for ML\\Pandas\\people-100.csv",skiprows=[1])
print(csv_2)                                                                                                              
print(type(csv_2))

    Index          User Id First Name  Last Name     Sex  \
0       2  f90cD3E76f1A9b9    Phillip    Summers  Female
1       3  DbeAb8CcdfeFC2c   Kristine     Travis    Male
2       4  A31Bee3c201ef58    Yesenia   Martinez    Male
3       5  1bA7A3dc874da3c       Lori       Todd    Male
4       6  bfDD7CDEF5D865B       Erin        Day    Male
..    ...              ...        ...        ...     ...
94     96  5eFda7caAeB260E     Dennis     Barnes  Female
95     97  CCbFce93d3720bE      Steve  Patterson  Female
96     98  2fEc528aFAF0b69     Wesley       Bray    Male
97     99  Adc7ad9B6e4A1Fe     Summer   Oconnell  Female
98    100  b8D0aD3490FC7e1     Mariah    Bernard    Male

                         Email                  Phone Date of birth  \
0        bethany14@example.com      214.112.6044x4913    1910-03-24
1        bthompson@example.com           277.609.7938    1992-07-02
2    kaitlinkaiser@example.com           584.094.6111    2017-08-03
3   buchananmanuel@example.net      689-207-3558x7233    1938-12-01
4          tconner@example.org  001-171-649-9856x5553    2015-10-28
..                         ...                    ...           ...
94         bmartin@example.org   001-095-524-2112x257    1954-07-30
95       latasha46@example.net       001-865-478-5157    1932-04-29
96        regina11@example.org     995-542-3004x76800    1994-12-28
97  alexiscantrell@example.org   001-273-685-6932x092    2012-04-12
98       pcopeland@example.org    (341)594-6554x44657    2016-11-15

                   Job Title
0             Phytotherapist
1                  Homeopath
2          Market researcher
3         Veterinary surgeon
4   Waste management officer
..                       ...
94         Software engineer
95                 Barrister
96            Police officer
97      Broadcast journalist
98     IT sales professional

[99 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>

In [15]:
# customising column position
csv_1 = pd.read_csv("D:\\Python learning sequence\\python for ML\\Pandas\\people-100.csv",index_col="User Id")
csv_1

,Index,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
User Id,,,,,,,,
88F7B33d2bcf9f5,1,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer
f90cD3E76f1A9b9,2,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
DbeAb8CcdfeFC2c,3,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath
A31Bee3c201ef58,4,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher
1bA7A3dc874da3c,5,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon
...,...,...,...,...,...,...,...,...
5eFda7caAeB260E,96,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,1954-07-30,Software engineer
CCbFce93d3720bE,97,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,1932-04-29,Barrister
2fEc528aFAF0b69,98,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,1994-12-28,Police officer
Adc7ad9B6e4A1Fe,99,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,2012-04-12,Broadcast journalist
b8D0aD3490FC7e1,100,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,2016-11-15,IT sales professional

In [16]:
# customising header
csv_1 = pd.read_csv("D:\\Python learning sequence\\python for ML\\Pandas\\people-100.csv",header=2)
csv_1

,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
0,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath
1,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher
2,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon
3,6,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,2015-10-28,Waste management officer
4,7,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,1989-01-22,Intelligence analyst
...,...,...,...,...,...,...,...,...,...
93,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,1954-07-30,Software engineer
94,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,1932-04-29,Barrister
95,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,1994-12-28,Police officer
96,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,2012-04-12,Broadcast journalist
97,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,2016-11-15,IT sales professional

In [3]:
# customising header
import pandas as pds
csv_3 = pds.read_csv("D:\\Python learning sequence\\python for ML\\Pandas\\people-100.csv",names=["col1","col2","col3"])
csv_3

,,,,,,col1,col2,col3
Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer
2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath
4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher
...,...,...,...,...,...,...,...,...
96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,1954-07-30,Software engineer
97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,1932-04-29,Barrister
98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,1994-12-28,Police officer
99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,2012-04-12,Broadcast journalist
100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,2016-11-15,IT sales professional

In [14]:
# customising header
import pandas as pds
csv_3 = pds.read_csv("D:\\Python learning sequence\\python for ML\\Pandas\\people-100.csv",header=None)
csv_3 = csv_3.add_prefix("col")
csv_3

,col0,col1,col2,col3,col4,col5,col6,col7,col8
0,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
1,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer
2,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
3,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath
4,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher
...,...,...,...,...,...,...,...,...,...
96,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,1954-07-30,Software engineer
97,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,1932-04-29,Barrister
98,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,1994-12-28,Police officer
99,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,2012-04-12,Broadcast journalist
100,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,2016-11-15,IT sales professional